.dataPoint {
	background-color: #fff;
	box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
	display: flex;
	max-width: 100%;
	margin: 20px;
	width: 700px;
	color: rgb(116, 116, 116);
}

.dataPoint-info {
    flex: 1;
    display: flex;
}

.dataPoint-info span {
    margin: 1em 1em;
}

.dataPoint-buttons {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    width: 75%;
}

.dataPoint .button {
  margin: 1em 1em;
  border: none;
  color: rgb(116, 116, 116);
  cursor: pointer;
}

.dataPoint .button:hover {
    color: #05386b;
}


